<div class="container mt">
<h1>Add Shipping details</h1>
</div>
<hr>
<div class="container mt">
<%= render 'form', order: @order %>

</div>
<div class="container mt">
<%= link_to 'Back', orders_path %>
</div>
