<p id="notice"><%= notice %></p>

<h1 class="text-center">Products</h1>

<div class="jumbotron1 jumbotron-fluid">
  <div class="container">
    <div class="row">
        <div class="col-md-2">
        <% @categories.each do | category | %>
            <%= link_to category.name, by_category_path(:category_id => category.id), :remote => true %></br>
            <% end %>
        </div>
        <div class="col-md-10">
            <div id="products_grid">
                <%= render partial: 'products_list', locals: { products: @products } %>
            </div>
        </div>
    </div>
  </div>
</div>